script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/react/react-with-addons.js')
script(src='/bower_components/moment/moment.js')
script(src='/bower_components/lodash/dist/lodash.js')
script(src='/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js')
script(src='/js/sockjs-client.js')
script(src='/dist/js/App.js')
