doctype html
html
  head
    title Express+React Starter
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include includes/css-dev
    //- include includes/css-prod
  body
    block content
